<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring MVC 的配置-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd   
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd   
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd    
        http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
         
<!--          annotation begin    -->
	<!--         使Spring支持自动检测组件，如注解的Controller -->
    <context:component-scan base-package="com.jon.web.controller"/>
<!--     启用此标签会自动引入 DefaultAnnotationHandlerMapping  与  AnnotationMethodHandlerAdapter  bean -->
    <mvc:annotation-driven/>
<!--     annotation end -->
    
<!--     shiro begin -->
    <!-- 开启aop，对类代理 -->
	<aop:config proxy-target-class="true"></aop:config>
	<!-- 开启shiro注解支持 -->
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
<!--     shiro end -->
    
    
<!--     静态资源访问 begin -->
	<!-- 	允许直接访问 dist 目录下的所有文件 -->
	<mvc:resources location="/dist/" mapping="/dist/**"/>
<!--     静态资源访问 end -->
    
<!--    上传文件 begin  -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
 		<property name="defaultEncoding" value="utf-8" /> <!--编码 -->
		<property name="maxUploadSize" value="10485760000" /><!--文件最大大小 -->
		<property name="maxInMemorySize" value="40960" /><!--缓存大小 -->
	</bean>
<!-- 	上传文件 end -->
    
    
<!--     视图分解解析器   suffix返回视图的默认文件后缀（顾在返回返回时可以不写文件后缀）-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/"
          p:suffix=".jsp" />
	</beans>
