<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd    
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd    
            http://www.springframework.org/schema/util http://ww.springframework.org/schema/util/spring-util-3.0.xsd">


	 <bean id="sysUserDAO" class="com.jon.web.dao.imp.SysUserDAOImp">
	 	<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	 <bean id="sysPermissionDAO" class="com.jon.web.dao.imp.SysPermissionDAOImp">
	 	<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	 
<!-- 	 Warring begin-->
	<!-- 		使sysServiceManager 去继承  transactionBese  从而得到事物处理的能力 ，此方式可以避免一些问题（例如事物无法关闭，提交等）-->
	 <bean id="sysServiceBase" class="com.jon.web.service.imp.SysServiceImpl">
	 	<property name="sysUserDAO" ref="sysUserDAO"></property>
	 	<property name="sysPermissionDAO" ref="sysPermissionDAO"></property>
	 </bean>
	 
	 <bean id="sysServiceManager" parent="transactionBese">
	 	<property name="target" ref="sysServiceBase"></property>
	 </bean>
<!-- 	 Warring end -->

</beans>
